<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @dependant_task.task %>
</p>

<%= link_to 'Edit', edit_dependant_task_path(@dependant_task) %> |
<%= link_to 'Back', dependant_tasks_path %>
