<h1>Dashopia</h1>
<div>
  {{outlet}}
</div>
<div>Dashopia is awesome! You should {{#link-to "sign_up"}}sign up{{/link-to}} and try it. If you already have an account {{#link-to "sign_in"}}login{{/link-to}} here.</div>
