{{#link-to 'sign_in' }}Sign In{{/link-to}}

    <div id='task-details' class='ui modal'></div>

  <div class="ui divider"></div>
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h1 class="ui dark-blue header"><i class="settings blue icon"></i>Dashopia</h1>
    </div>
    <div class="eight wide column">
      <div id="quickadd" class="ui fluid form"><div class="ui action input">
          <input class="name" type="text" placeholder="Enter a todo item here to quickly add it to your list ...">
          <div class="ui blue button submit">Add item</div>
        </div>
      </div>
    </div>
  </div>

       <!-- ui large vertical inverted labeled icon sidebar menu active -->
  <div id='external-events' class="ui blue large vertical inverted text sidebar menu">
    <!-- "<div class='red item external-event'><i class='green checkmark icon'></i>Go to Church</div>"
    <div class="blue active item external-event"><i class="green checkmark icon"></i>Go to Work</div>
    <div class="ui active item"><i class="down triangle icon"></i><i class="green checkmark icon"></i>Work on Dashopia
      <div class="menu">
        <div class="orange item external-event"><i class="green checkmark icon"></i>Make website</div>
        <div class="purple item external-event"><i class="green checkmark icon"></i>Determine auto-scheduling algorithm</div>
        <div class="white item external-event"><i class="green checkmark icon"></i>Profit!!</div>
      </div>
    </div> -->
  </div>

  <div class="ui divider"></div>
    <div class="ui open-items button right attached blue"><i class="list icon"></i></div>


    <div id='wrap'>

      <div id='calendar'></div>

      <div style='clear:both'></div>
    </div>
